* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

body{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 10px 15px;
    margin: 0 10px;
    position: relative;
}
#nav-menu{
    padding-bottom: 11px;
}

ul li::before,
ul li::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s all ease-in-out;
}

ul li::before {
    top: 0;
    left: 0;
}

ul li::after {
    bottom: 0;
    right: 0;
}

ul li.active::before,
ul li:hover::before {
    right: 0;
    left: auto;
    width: 100%;
    background-color: #f39c12;
}

ul li.active::after,
ul li:hover::after {
    right: auto;
    left: 0;
    width: 100%;
    background-color: #f39c12;
}

ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    transition: 0.3s all ease-in-out;
}

.logo{
    padding: 0;
    margin: 0;
    margin-top: 100px;
    margin-left: 20px;
}

ul li.active a,
ul li:hover a {
    color: #f39c12;
}

.container {
    height: 1200px;
    width: 100%;
    position: relative;
    background: linear-gradient(to right top, #1abc9c, rgba(8, 238, 238, 0.733),#b0ee04);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    height: 1100px;
    width: 75%;
    padding: 0, 20px;
    background: rgba(31, 17, 221, 0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(680px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
}

.container .box nav {
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 20px;
}

.container .box nav ul li {
    display: inline-block;
    padding: 0 20px;
}

.container .box nav ul li a {
    font-size: 13px;
    cursor: pointer;
}

.container .box nav ul li a:hover {
    color: #ffc404;
}

.container .box nav {
    font-size: 35px;
    color: #000;
    margin-top: 10px;
    margin-left: 20px;
}

.container .box .contains {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    position: relative;
    margin-top: 8%;
    padding-left: 80px;
}

.container .box .contains .section-1 {
    position: absolute;
    margin-top: 70px;
}

.container .box .contains .section-1 h1 {
    font-size: 75px;
}

.container .box .contains .section-1 h3 {
    font-size: 35px;
}

.container .box .contains .section-1 p {
    margin-top: 5px;
}

.container .box .contains .section-1 .button {
    margin-top: 50px;
}

.container .box .contains .section-1 .button a {
    padding: 10px 20px;
    border: 1px solid #fff;
    cursor: pointer;
}

.container .box .contains .section-1 .button a:hover {
    background: #fff;
    color: #000;
}

.section-1{
    color: #ffffff;
    top: 90px;
}

.section-2 {
    display: flex;
    position: relative;
    background: transparent;
    margin-right: 150px;
    margin-top: 180px;
    width: 450px;
}

img {
    border-radius: 5%;
    width: 500px;
}

.image{
    position: relative;
    margin-top: 50px;
    margin-left: -900px;
}
.gedungSMK{
    width: 411px;
    
}
.section-3 h1{
    display: flex;
    font-family: sans-serif;
    margin-top: 650px;
    margin-right: 400px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    background: rgba(31, 17, 221, 0.1);
    color: rgb(255, 255, 255);
    height: 400px;
    width: 1020px;
}